@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&display=swap");
body {
  background-color: steelblue;
  color: whitesmoke;
  font: normal 12px "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-family: "museomoderno";
}
.black-border {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 5px;
}

#footer-background {
  background-color: lightsteelblue;
  color: steelblue;
}
